################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
/DataLayer/obj
/DataLayer/bin
/DataLayer/obj
/CompanyClaims/obj
/.vs
/CompanyClaims/bin
/EndpointTests/bin
/EndpointTests/obj
/CompanyClaims.sln.DotSettings.user
